global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - "alertmanager:9093"

rule_files:
  - "alerts.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "miniservidor"
    static_configs:
      - targets: ["192.168.20.21:9100"]

  - job_name: "proxmox"
    static_configs:
      - targets: ["172.16.3.253:9100"]

  - job_name: "lxc-dokuwiki"
    static_configs:
      - targets: [172.16.3.118:9100]

  - job_name: "lxc-plane"
    static_configs:
      - targets: [172.16.3.112:9100]

  - job_name: "synology"
    metrics_path: /snmp
    params:
      module: [synology]
      auth: [synology]
    static_configs:
      - targets: ["172.16.4.2"]

    relabel_configs:
    # Pasa la IP del NAS como parámetro "target" al snmp_exporter
      - source_labels: [__address__]
        target_label: __param_target

    # Usa esa IP como etiqueta "instance"
      - source_labels: [__param_target]
        target_label: instance

    # Y cambia la dirección real de scrape al snmp-exporter
      - target_label: __address__
        replacement: "snmp-exporter:9116"

